<form autocomplete="off" onsubmit="event.preventDefault()">
  <table style="width:100%; min-width:400px">
    <tr>
      <th class='materialDeck_devConf_columnLabel'>{{localize "MaterialDeck.Name"}}</th>
      <th class='materialDeck_devConf_columnLabel'>{{localize "MaterialDeck.Type"}}</th>
      <th class='materialDeck_devConf_columnId'>{{localize "MaterialDeck.Id"}}</th>
      <th class='materialDeck_devConf_columnCB'>{{localize "MaterialDeck.Perm.ENABLE.ENABLE.label"}}</th>
    </tr>
    {{#each devices as |d|}}
    <tr>
      <td class='materialDeck_devConf_columnLabel'>{{d.name}}</td>
      <td class='materialDeck_devConf_columnLabel'>{{d.type}}</td>
      <td class='materialDeck_devConf_columnId'><input type="text" value={{d.id}} disabled></td>
      <td class='materialDeck_devConf_columnCB'><input type="checkbox" name="enable" id="materialDeck_devConf_{{d.id}}" {{checked d.en}}></td>
    </tr>
    {{/each}}
  </table>
</form>