<form autocomplete="off" onsubmit="event.preventDefault()">
    <h2>{{localize "MaterialDeck.DownloadUtility.Plugin"}}</h2>

    <table style="width:100%; min-width:400px">
        <tr>
          <th class='materialDeck_dlUtil_columnLabel'></th>
          <th class='materialDeck_dlUtil_columnVersion'>{{localize "MaterialDeck.DownloadUtility.Current"}}</th>
          <th class='materialDeck_dlUtil_columnVersion'>{{localize "MaterialDeck.DownloadUtility.Minimum"}}</th>
          <th class='materialDeck_dlUtil_columnVersion'>{{localize "MaterialDeck.DownloadUtility.Latest"}}</th>
          <th class='materialDeck_dlUtil_columnOS'>{{localize "MaterialDeck.DownloadUtility.OS"}}</th>
          <th class='materialDeck_dlUtil_columnButton'>{{localize "MaterialDeck.DownloadUtility.Download"}}</th>
        </tr>

        <tr>
          <td class='materialDeck_dlUtil_columnLabel'>{{localize "MaterialDeck.DownloadUtility.SDplugin"}}</td>
          <td class='materialDeck_dlUtil_columnVersion'>{{localSdVersion}}</td>
          <td class='materialDeck_dlUtil_columnVersion'>{{minimumSdVersion}}</td>
          <td class='materialDeck_dlUtil_columnVersion' id='materialDeck_dlUtil_masterSdVersion'>{{masterSdVersion}}</td>
          <td class='materialDeck_dlUtil_columnOS'></td>
          <td class='materialDeck_dlUtil_columnButton'>
            <button type="button" class='materialDeck_dlUtil_button' id='materialDeck_dlUtil_downloadSd' {{#if sdDlDisable}}disabled{{/if}}>
                <i class="fas fa-download"></i>
            </button>
          </td>
        </tr>

        <tr>
          <td class='materialDeck_dlUtil_columnLabel'>{{localize "MaterialDeck.DownloadUtility.MSserver"}}</td>
          <td class='materialDeck_dlUtil_columnVersion'>{{localMsVersion}}</td>
          <td class='materialDeck_dlUtil_columnVersion'>{{minimumMsVersion}}</td>
          <td class='materialDeck_dlUtil_columnVersion' id='materialDeck_dlUtil_masterMsVersion'>{{masterMsVersion}}</td>
          <td class='materialDeck_dlUtil_columnOS'>
            <select id="materialDeck_dlUtil_os" default="" {{#if msDlDisable}}disabled{{/if}}>
                <option value="win32-x64">{{localize "MaterialDeck.DownloadUtility.Windows"}}</option>
                <option value="macos-x64">{{localize "MaterialDeck.DownloadUtility.MacosIntel"}}</option>
                <option value="macos-arm64">{{localize "MaterialDeck.DownloadUtility.MacosM1"}}</option>
                <option value="linux-x64">{{localize "MaterialDeck.DownloadUtility.Linux"}}</option>
                <option value="source">{{localize "MaterialDeck.DownloadUtility.Source"}}</option>
            </select>
          </td>
          <td class='materialDeck_dlUtil_columnButton'>
            <button type="button" class='materialDeck_dlUtil_button' id='materialDeck_dlUtil_downloadMs' {{#if msDlDisable}}disabled{{/if}}>
                <i class="fas fa-download"></i>
            </button>
          </td>
        </tr>
      </table> 
      <br>
      <h2>{{localize "MaterialDeck.DownloadUtility.Profiles"}}</h2>

      <table style="width:100%; min-width:400px">
        <tr>
          <th style='text-align: left;'>{{localize "MaterialDeck.DownloadUtility.Name"}}</th>
          <th class='materialDeck_dlUtil_columnButton'>{{localize "MaterialDeck.DownloadUtility.Download"}}</th>
        </tr>
        <div id='profileContents'>
          {{#each profiles as |p|}}
            <tr>
              <td>{{p.label}}</td>
              <td class='materialDeck_dlUtil_columnButton'>
                <button type="button" class='materialDeck_dlUtil_button' id='materialDeck_dlUtil_dlProfile-{{p.id}}' name='downloadProfile' {{#if ../profileDlDisable}}disabled{{/if}}>
                    <i class="fas fa-download"></i>
                </button>
              </td>
            </tr>
          {{/each}}
        </div>
      </table> 
      
      <button type="button" id='materialDeck_dlUtil_refresh'>
        <i class="fas fa-redo"></i>
        {{localize "MaterialDeck.DownloadUtility.Refresh"}}
    </button>

</form>