<form autocomplete="off" onsubmit="event.preventDefault()">
    <h2>{{localize "MaterialDeck.DownloadUtility.Plugin"}}</h2>

    <table style="width:100%; min-width:400px">
        <tr>
          <th class='materialDeck_dlUtil_columnLabel'></th>
          <th class='materialDeck_dlUtil_columnVersion'>{{localize "MaterialDeck.DownloadUtility.Current"}}</th>
          <th class='materialDeck_dlUtil_columnVersion'>{{localize "MaterialDeck.DownloadUtility.Minimum"}}</th>
          <th class='materialDeck_dlUtil_columnVersion'>{{localize "MaterialDeck.DownloadUtility.Latest"}}</th>
          <th class='materialDeck_dlUtil_columnOS'>{{localize "MaterialDeck.DownloadUtility.OS"}}</th>
          <th class='materialDeck_dlUtil_columnButton'>{{localize "MaterialDeck.DownloadUtility.Download"}}</th>
        </tr>

        <tr>
          <td class='materialDeck_dlUtil_columnLabel'>{{localize "MaterialDeck.DownloadUtility.module"}}</td>
          <td class='materialDeck_dlUtil_columnVersion'>v{{versions.module.current}}</td>
          <td class='materialDeck_dlUtil_columnVersion'></td>
          <td class='materialDeck_dlUtil_columnVersion'>{{releases.module.version}}</td>
          <td class='materialDeck_dlUtil_columnOS'></td>
          <td class='materialDeck_dlUtil_columnButton'><button type="button" class='materialDeck_dlUtil_button' style="visibility:hidden">
              <i class="fas fa-download"></i>
            </button>
          </td>
        </tr>

        <tr>
          <td class='materialDeck_dlUtil_columnLabel'>{{localize "MaterialDeck.DownloadUtility.SDplugin"}}</td>
          <td class='materialDeck_dlUtil_columnVersion'>v{{versions.plugin.current}}</td>
          <td class='materialDeck_dlUtil_columnVersion'>v{{versions.plugin.minimum}}</td>
          <td class='materialDeck_dlUtil_columnVersion'>{{releases.plugin.version}}</td>
          <td class='materialDeck_dlUtil_columnOS'></td>
          <td class='materialDeck_dlUtil_columnButton'>
            <button type="button" class='materialDeck_dlUtil_button' id='materialDeck_dlUtil_downloadSd' {{#if sdDlDisable}}disabled{{/if}}>
                <i class="fas fa-download"></i>
            </button>
          </td>
        </tr>

        <tr>
          <td class='materialDeck_dlUtil_columnLabel'>{{localize "MaterialDeck.DownloadUtility.MSserver"}}</td>
          <td class='materialDeck_dlUtil_columnVersion'>v{{versions.materialCompanion.current}}</td>
          <td class='materialDeck_dlUtil_columnVersion'>v{{versions.materialCompanion.minimum}}</td>
          <td class='materialDeck_dlUtil_columnVersion'>{{releases.materialCompanion.version}}</td>
          <td class='materialDeck_dlUtil_columnOS'>
            <select id="materialDeck_dlUtil_os" default="" {{#if msDlDisable}}disabled{{/if}}>
                <option value="win32-x64">{{localize "MaterialDeck.DownloadUtility.Windows"}}</option>
                <option value="macos-x64.dmg">{{localize "MaterialDeck.DownloadUtility.MacosIntel"}} - dmg</option>
                <option value="macos-x64.zip">{{localize "MaterialDeck.DownloadUtility.MacosIntel"}} - zip</option>
                <option value="macos-arm64.dmg">{{localize "MaterialDeck.DownloadUtility.MacosM1"}} - dmg</option>
                <option value="macos-arm64.zip">{{localize "MaterialDeck.DownloadUtility.MacosM1"}} - zip</option>
                <option value="linux-x64">{{localize "MaterialDeck.DownloadUtility.Linux"}}</option>
                <option value="source">{{localize "MaterialDeck.DownloadUtility.Source"}}</option>
            </select>
          </td>
          <td class='materialDeck_dlUtil_columnButton'>
            <button type="button" class='materialDeck_dlUtil_button' id='materialDeck_dlUtil_downloadMc' {{#if msDlDisable}}disabled{{/if}}>
                <i class="fas fa-download"></i>
            </button>
          </td>
        </tr>
      </table> 
      <br>
      <h2>{{localize "MaterialDeck.DownloadUtility.Profiles"}}</h2>

      <table style="width:100%; min-width:400px">
        <tr>
          <th style='text-align: left;'>{{localize "MaterialDeck.DownloadUtility.Name"}}</th>
          <th class='materialDeck_dlUtil_columnButton'>{{localize "MaterialDeck.DownloadUtility.Download"}}</th>
        </tr>
        <div id='profileContents'>
          {{#each releases.plugin.profiles as |p|}}
            <tr>
              <td>{{p.name}}</td>
              <td class='materialDeck_dlUtil_columnButton'>
                <button type="button" class='materialDeck_dlUtil_button' id='materialDeck_dlUtil_dlProfile-{{p.name}}' name='downloadProfile'>
                    <i class="fas fa-download"></i>
                </button>
              </td>
            </tr>
          {{/each}}
        </div>
      </table> 
</form>