<form autocomplete="off" onsubmit="event.preventDefault()">
    <div class="materialDeck_macroConfig_navigationDiv">
        <button type="button" class="materialDeck_macroConfig_navigation" name="navPrev" {{prevDisabled}}>
            <i class="fas fa-arrow-left"></i>
        </button>
        <p class="materialDeck_macroConfig_p"><b>
            {{localize "MaterialDeck.Perm.MACRO.label"}}: {{macroRange}} {{localize "MaterialDeck.Of"}} {{totalMacros}}
        </b></p>
        <button type="button" class="materialDeck_macroConfig_navigation" name="navNext">
            <i class="fas fa-arrow-right"></i>
        </button>
    </div>
    <hr>

    {{#each macroData}}
        <div class="form-group" style="width:100%">
            {{#each this.macroRowConfig}}
                <div class="materialDeck_macroConfig_boxed">
                    <div style="text-align:center;">                    
                        {{localize "MaterialDeck.Macro"}} {{this.iteration}}
                    </div>
                    <div>
                        <div style="text-align:center;">                    
                            {{localize "MaterialDeck.Label"}}
                        </div>
                        <input type="text" value="{{this.label}}" name="macroLabel" id="materialDeck_macroConfig_label{{this.iteration}}" style="width:100%;" >
                        <div style="text-align:center;">                    
                            {{localize "MaterialDeck.Macro"}}
                        </div>
                        <select name="macros" class="macros-select" id="materialDeck_macroConfig_macros{{this.iteration}}" default="" style="width:100%;">
                            {{#select this.macro}}
                                <option value="">{{localize "MaterialDeck.None"}}</option>
                                {{#each ../../macros}}
                                <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    {{#if ../../furnace}}
                        <label>{{localize "MaterialDeck.FurnaceArgs"}}</label>
                        <input type="text" name="args" id="materialDeck_macroConfig_args{{this.iteration}}" value="{{this.args}}">
                    {{/if}}
                    
                    <div class="flex-container materialDeck_macroConfig_background">  
                        <label style="flex:1">{{localize "MaterialDeck.Background"}}</label>
                        <input style="flex:1" type="color" name="colorPicker" id="materialDeck_macroConfig_colorpicker{{this.iteration}}" data-dtype="String" value="{{this.color}}">
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
    <hr>
    <div class="materialDeck_macroConfig_navigationDiv">
        <button type="button" class="materialDeck_macroConfig_navigation" name="clearPage">
            <i></i>{{localize "MaterialDeck.ClearPage"}}
        </button>
        <button type="button" class="materialDeck_macroConfig_navigation" name="clearAll">
            <i></i>{{localize "MaterialDeck.ClearAll"}}
        </button>
        <p style="width:68%;"></p>
        <button type="button" class="materialDeck_macroConfig_navigation" name="import">
            <i></i>{{localize "MaterialDeck.Import"}}
        </button>
        <button type="button" class="materialDeck_macroConfig_navigation" name="export">
            <i></i>{{localize "MaterialDeck.Export"}}
        </button>
    </div>
</form>