<form autocomplete="off" onsubmit="event.preventDefault()">
    <style>
        .boxed {
            border: 1px solid black ;
            border-radius: 5px ; 
            width: 100px;
            height: {{height}}px;
        }
    </style>

    {{#each macroData}}
        <div class="form-group">
            {{#each this.dataThis}}
                <div class="boxed" style="padding: 5px; margin:2px">
                    <div style="text-align:center;">                    
                        {{localize "MaterialDeck.Macro"}} {{this.iteration}}
                    </div>
                    <div>
                        <select name="macros" class="macros-select" default="" style="max-width:140px;">
                            {{#select this.macro}}
                                <option value="">{{localize "MaterialDeck.None"}}</option>
                                {{#each macros}}
                                <option value="{{this._id}}">{{this.name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    {{#if this.furnace}}
                        <label>{{localize "MaterialDeck.FurnaceArgs"}}</label>
                        <input type="text" name="args" value="{{this.args}}">
                    {{/if}}
                    
                    <div class="flex-container" style="display:flex;flex-direction:row;padding-top:10px">  
                        <label style="flex:1">{{localize "MaterialDeck.Background"}}</label>
                        <input style="flex:1" type="color" name="colorPicker" data-dtype="String" value="{{this.color}}">
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
    <button type="submit" name="submit">
        <i class="far fa-save"></i> {{localize "MaterialDeck.Save"}}
    </button>

</form>