<form autocomplete="off" onsubmit="event.preventDefault()">
    <div >                    
        <h2>{{localize "MaterialDeck.PL.Settings"}}</h2>
    </div>
    <div class="form-group">     
        <label>{{localize "MaterialDeck.PL.Mode"}}</label>
        <select name="playMode" class="playMode" default="">
            {{#select playMode}}
                <option value="0">{{localize "MaterialDeck.PL.Unrestricted"}}</option>
                <option value="1">{{localize "MaterialDeck.PL.OneTrackPlaylist"}}</option>
                <option value="2">{{localize "MaterialDeck.PL.OneTrackTotal"}}</option>
            {{/select}}
        </select>
    </div>
    <div class="form-group">     
        <label>{{localize "MaterialDeck.PL.Nr"}}</label>
        <input type="number" id="numberOfPlaylists" name="plNum" min="0" max="127" value={{numberOfPlaylists}}>
    </div>
    <div>                    
        <h2>{{localize "MaterialDeck.Playlists"}}</h2>
    </div>
    {{#each playlistData}}
        <div class="form-group">
            <label>{{localize "MaterialDeck.Playlist"}} {{this.iteration}}</label>
            <select name="selectedPlaylist" class="playlist-select" id="playlist{{this.iteration}}" default="">
                {{#select this.playlist}}
                    <option value="">{{localize "MaterialDeck.None"}}</option>
                    {{#each ../playlists}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                {{/select}}
            </select>
            &nbsp;
            <select name="playlistMode" class="playlistMode" id="playlistMode{{this.iteration}}" default="">
                {{#select this.playlistMode}}
                    <option value="0">{{localize "MaterialDeck.PL.Mode"}}</option>
                    <option value="1">{{localize "MaterialDeck.PL.Unrestricted"}}</option>
                    <option value="2">{{localize "MaterialDeck.PL.OneTrack"}}</option>
                {{/select}}
            </select>
        </div>
    {{/each}}
</form>