<form autocomplete="off" onsubmit="event.preventDefault();">
    <p class="notes">{{localize "MaterialDeck.Perm.Instructions"}}</p>
    <hr>
    
    <div class="form-group">
        <h2>{{ localize "MaterialDeck.Perm.ENABLE.label" }}</h2>
    </div>
    <header class="materialDeck_uPerm_table-header flexrow">
        <label class="materialDeck_uPerm_index">{{ localize "PERMISSION.Permission" }}</label>
        {{#each roles as |rl r|}}
        <label>{{ localize rl}}</label>
        {{/each}}
    </header>
    
    <li class="materialDeck_uPerm_permission form-group">
        <label class="materialDeck_uPerm_index">{{ localize "MaterialDeck.Perm.ENABLE.ENABLE.label" }}</label>
        <div class="form-fields">
            {{#each enable as |r|}}
                <input type="checkbox" name="ENABLE.{{r.role}}" {{checked r.en}}>
            {{/each}}
        </div>
        <p class="hint materialDeck_uPerm_hint">{{ localize "MaterialDeck.Perm.ENABLE.ENABLE.hint" }}</p>
    </li>

    {{#each actions as |a|}}
    
    <div class="form-group">
        <h2>{{ localize a.label }}</h2>
    </div>
    <header class="materialDeck_uPerm_table-header flexrow">
        <label class="materialDeck_uPerm_index">{{ localize "PERMISSION.Permission" }}</label>
        {{#each ../roles as |rl r|}}
        <label>{{ localize rl}}</label>
        {{/each}}
    </header>
    
        <ul class="materialDeck_uPerm_permissions-list">
        {{#each a.permissions as |p|}}
        <li class="materialDeck_uPerm_permission form-group">
            <label class="materialDeck_uPerm_index">{{ localize p.label }}</label>
            <div class="form-fields">
                {{#each p.roles as |r|}}
                    <input type="checkbox" name="{{a.id}}.{{p.id}}.{{r.role}}" {{checked r.en}}>
                {{/each}}
            </div>
            <p class="hint materialDeck_uPerm_hint">{{ localize p.hint }}</p>
        </li>
        {{/each}}
    </ul>
    
    
    {{/each}}
    

    <div class="form-group">
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> {{localize 'PERMISSION.Submit'}}
        </button>

        <button type="button" name="reset">
            <i class="fas fa-sync"></i> {{localize 'PERMISSION.Reset'}}
        </button>
    </div>
</form>
